.wrapper {
  border-bottom: 1px solid rgba(15, 15, 16, 0.1);
  padding: 24px 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(250, 250, 250);
}

.wrapper__boxTitle {
  font-weight: 700;
  font-style: Bold;
  font-size: 24px;
  line-height: 135%;
  letter-spacing: 0%;
  color: rgba(15, 15, 16, 1);
}

.wrapper__boxTitle p {
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  color: rgba(15, 15, 16, 0.5);
}

.wrapper__boxSearch {
  width: 50%;
  height: 42px;
  display: flex;
  align-items: center;
  position: relative;
}

.wrapper__icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper__boxSearch input {
  flex: 1;
  height: 42px;
  margin-right: 12px;
  border-radius: 7px;
  border: 1px solid rgba(15, 15, 16, 0.3);
  padding-left: 35px;
}
